<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kwkj.system.mapper.MenuRoleMapper">
    
    <resultMap type="MenuRole" id="MenuRoleResult">
        <result property="menuId"    column="menu_id"    />
        <result property="roleId"    column="role_id"    />
    </resultMap>
	
	<sql id="selectMenuRoleVo">
        select menu_id, role_id from kwkj_menu_role
    </sql>
	
    <select id="selectMenuRoleList" parameterType="MenuRole" resultMap="MenuRoleResult">
        <include refid="selectMenuRoleVo"/>
        <where>  
            <if test="menuId != null "> and menu_id = #{menuId}</if>
             <if test="roleId != null "> and role_id = #{roleId}</if>
         </where>
    </select>
    
    <select id="selectMenuRoleById" parameterType="Integer" resultMap="MenuRoleResult">
        <include refid="selectMenuRoleVo"/>
        where menu_id = #{menuId}
    </select>
        
    <insert id="insertMenuRole" parameterType="MenuRole">
        insert into kwkj_menu_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="menuId != null  ">menu_id,</if>
			<if test="roleId != null  ">role_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="menuId != null  ">#{menuId},</if>
			<if test="roleId != null  ">#{roleId},</if>
         </trim>
    </insert>
	 
    <update id="updateMenuRole" parameterType="MenuRole">
        update kwkj_menu_role
        <trim prefix="SET" suffixOverrides=",">
            <if test="roleId != null  ">role_id = #{roleId},</if>
        </trim>
        where menu_id = #{menuId}
    </update>

	<delete id="deleteMenuRoleById" parameterType="Integer">
        delete from kwkj_menu_role where menu_id = #{menuId}
    </delete>
	
    <delete id="deleteMenuRoleByIds" parameterType="String">
        delete from kwkj_menu_role where menu_id in 
        <foreach item="menuId" collection="array" open="(" separator="," close=")">
            #{menuId}
        </foreach>
    </delete>
    
</mapper>