<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kwkj.system.mapper.RoleMapper">
    
    <resultMap type="Role" id="RoleResult">
        <result property="roleId"    column="role_id"    />
        <result property="roleName"    column="role_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectRoleVo">
        select role_id, role_name, create_by, create_time, update_by, update_time from kwkj_role
    </sql>
	
    <select id="selectRoleList" parameterType="Role" resultMap="RoleResult">
        <include refid="selectRoleVo"/>
        <where>  
            <if test="roleId != null "> and role_id = #{roleId}</if>
             <if test="roleName != null  and roleName != '' "> and role_name = #{roleName}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
         </where>
    </select>
    
    <select id="selectRoleById" parameterType="Integer" resultMap="RoleResult">
        <include refid="selectRoleVo"/>
        where role_id = #{roleId}
    </select>
        
    <insert id="insertRole" parameterType="Role">
        insert into kwkj_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="roleId != null  ">role_id,</if>
			<if test="roleName != null  and roleName != ''  ">role_name,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null  ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="roleId != null  ">#{roleId},</if>
			<if test="roleName != null  and roleName != ''  ">#{roleName},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateBy != null  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updateRole" parameterType="Role">
        update kwkj_role
        <trim prefix="SET" suffixOverrides=",">
            <if test="roleName != null  and roleName != ''  ">role_name = #{roleName},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where role_id = #{roleId}
    </update>

	<delete id="deleteRoleById" parameterType="Integer">
        delete from kwkj_role where role_id = #{roleId}
    </delete>
	
    <delete id="deleteRoleByIds" parameterType="String">
        delete from kwkj_role where role_id in 
        <foreach item="roleId" collection="array" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>
    
</mapper>